# Python bytecode & cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
env/
venv/

# Local build artifacts & temporary dumps
build/
dist/
*.egg-info/
extracted_files/
*.bin
*.iso
*.cue

# Local game images and extracted game data
iso/
extracted_output/
extracted_files/

/Devil Summoner - Soul Hackers*/

# Generated research artifacts
*.hex
*-dump.zip