# Python bytecode & cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
env/
venv/

# Local build artifacts & temporary dumps
build/
dist/
*.egg-info/
extracted_files/
*.bin
*.iso
*.cue
